@import "../../styles/colors";
@import "../../styles/custom_variables";

$SelectedBackground: $mol_menu_background;

.WizardPivot {
  .ms-Pivot {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 25px;
    button {
      background-color: transparent;

      &::after {
        content: 'dddddd';
        width: 30px;
        height: 20px;
        background-color: red;
      }
    }
  }
}
hr {
  border: none;
  border-top: 2px dashed #E0E0E0;
}

.wizardHeader {
  background: $themeLighterAlt;
  display: flex;
  flex-direction: row;
  border-radius: 8px;
  min-width: 210px;
  height: 40px;
  margin-left: -56px;
  padding: 8px 16px 8px 16px;

  div {
    font-family: $font_family;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
    display: flex;
    align-items: center;
    /* themeETA / Type / OverAccent */
    color: #333333;
    margin-left: 6px;
    margin-right: 3px;
  }
  .circle {
    align-self: center;
    border-radius: 18px;
    background: $themeLighter;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 24px;
    width: 24px;
    margin-top: 2px;
    margin-left: 2px;
    box-shadow: 0px 0.3px 0.9px rgba(0, 0, 0, 0.1),
      0px 1.6px 3.6px rgba(0, 0, 0, 0.13);
    i {
      width: inherit;
      line-height: 20px;
      font-size: 14px;
      font-weight: bold;
      color: $white;
      text-align: center;
    }
    p {
      width: inherit;
      font-family: $font_family;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      float: left;
      line-height: 20px;
      color: $themePrimary;
      text-align: center !important;
    }
  }

  &.state_none {
    .circle {
      background: #878D96;
      p {
        color: white;
      }
    }
    div {
      color: #878d96;
    }
  }
  &.state_error {
    div {
      color: $rejected;
    }
    .circle {
      background: $rejected;
    }
  }
  &.state_completed {
    div {
      color: $mol_menu_background;
    }
    .circle {
      background: $mol_menu_background;
    }
  }
  &.selected {
    background: $SelectedBackground;
    div {
      color: #ffffff;
    }
    .circle {
      background: $white;
      box-shadow: 0px 1.2px 3.6px rgba(0, 0, 0, 0.1),
        0px 6.4px 14.4px rgba(0, 0, 0, 0.13);
      p {
        font-weight: bold;
        color: $mol_menu_background;
      }
    }
    &.state_completed {
      .circle {
        i {
          color: $mol_menu_background;
        }
      }
    }
    &.state_error {
      .circle {
        i {
          color: $rejected;
        }
      }
    }
  }
  &.disabled {
    background: $neutralLighter;
    pointer-events: none;
    cursor: none;
    div {
      color: $gray2;
    }
    .circle {
      background: #878D96;
      box-shadow: 0px 0.3px 0.9px rgba(0, 0, 0, 0.1),
        0px 1.6px 3.6px rgba(0, 0, 0, 0.13);
      i {
        color: white;
      }
      p {
        color: white;
        font-weight: normal;
      }
    }
  }
  &:hover {
    background: $themeLight;
    div {
      color: $grayColor;
    }
    .circle {
      background: $white;
      i {
        color: $mol_menu_background !important;
      }
      p {
        color: $mol_menu_background;
        font-weight: normal;
      }
    }
  }
}

// .html[dir=rtl] {
//     .wizardHeader {
//         .circle{
//             text-align: center;
//             p {
//                 text-align: center!important;
//             }
//         }
//     }
// }
