@import '../../styles/dimensions';
@import '../../styles/colors';

.wizardPivotPanel{
    box-shadow: 4px 2px 30px rgba(145, 200, 246, 0.5);
    padding: $panel-padding;
    background-color: $white;
    min-height: 50%;
    display: block;
    &.hide{
        display: none;
    }
    position: relative;
}