.settlementManage {
  .panel {
    padding: 20px;
  }
  .footer {
    .navigation {
      padding-top: 10px;
      display: flex;
      justify-content: flex-end;
      gap: 15px;
      .ms-Icon {
        transform: rotate(180deg);
      }
      .norotate {
        .ms-Icon {
          transform: rotate(180deg) !important;
        }
      }
    }
  }
}
