.workersList {
    .searchList {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 20px;

    }

    .workerIcon{
        padding-left: 5px;
        font-size: 16px;
    }
}