@import '../../../shared/styles/colors';
@import '../../../shared/styles/mixins';
@import '../../../shared/styles/dimensions';
@import '../../../shared/styles/custom_variables';
@import '~office-ui-fabric-react/dist/sass/References';

$main-margin: 60px;
$main-margin-lg: 20px;
$main-margin-md: 40px;

$main-margin-xs: 15px;

$bg-topbar-light:         #fff;
$box-shadow-lg:               0 1rem 3rem rgba($black, 0.175);
$gray-800: #343a40;
$dropdown-item-padding-y:           0.35rem;
$dropdown-item-padding-x:           1.5rem;

.layout {
    height: 100%;

    .layout-container {
        display: flex;
        height: 100%;

        .layout-container-rightPart{
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            width: 100%;
            overflow: auto;
            .layout-header {
              background-color:  transparent;
              height: $header-height;
              display: flex;
              color: $themeDark;
              padding-left: $layout-content-padding;
              padding-right: $layout-content-padding;
              align-items: center;
              margin-top: $panel-item-margin;
              h1 {
                font-size: large;
                margin: auto 10px;
                font-weight: normal;
                padding-bottom: 0px;
          
                .layout-header-subtitle {
                  margin-left: 4px;
                  padding: 4px;
                  font-weight: $ms-font-weight-semibold;
                  font-size: small;
                  background-color: $themePrimary;
                }
              }
          
              .layout-header-logo {
                background-color: transparent;
                width: 28px;
                height: 28px;
                z-index: 100;
                display: flex;
                align-items: center;
                justify-content: left;
                img {
                  
                  height: 100%;
                  width: 100%;
                }
              }
          
              .layout-header-content {
                flex: 1;
                display: flex;
                align-items: center;
                flex-direction: row-reverse;
          
                .header-user-menu{
                  margin-left: 12px;
                }
                & > button {
                  margin-right: 12px;
                }
              }
            }
            .layout-container-loading {
              height: 100%;
              width: 100%;
              display: flex;
              justify-content: center;
            }
          }
    }
}

.header-user-menu {
    display: flex;
    flex-direction: row;
    margin-right: 18px;
    cursor: pointer;
    user-select: none;
  
    .header-user-menu-avatar {
      .ms-Persona-primaryText {
        color: $themeDark;
      }
  
      @media (max-width: 384px) {
        .ms-Persona-primaryText {
          display: none;
        }
  
        .ms-Persona-details {
          padding: 4px;
        }
      }
    }
  
    .header-user-caret-button {
      color: $themeDark;
      margin-top: 2px;
      font-size: 12px;
    }
  }
  
  .header-user-menu-callout {
    margin-right: -6px;
    width: 250px;
  
    .header-user-menu-callout-item {
      display: flex;
      margin: 0;
      padding: 12px;
      color: $neutralPrimary;
      text-decoration: none;
      user-select: none;
  
      &:hover {
        background-color: $themeLighter;
  
     
      }
  
      .header-user-menu-callout-item-label {
        @include text-ellipsis();
  
        font-size: small;
      }
  
      .header-user-menu-callout-item-icon {
        vertical-align: text-bottom;
        margin-right: 10px;
        margin-left: 4px;
      }
    }
  }

.main-menu {
    z-index: 99;

    > * {
        box-sizing: content-box !important;
    }

    .mol-NavLinkGroup {
        .layout-menu-nav-item {
            box-sizing: content-box !important;
        }
    }
}

.mol-layout-menu {
    &.opened {
      width: 195px;
    }

    .layout-menu-nav-item.layout-menu-nav-item--active {
        color: $white;
    }
} 

.noti-scroll {
    max-height: 230px;
}

.notification-list {
    margin-left: 0;

    .noti-title {
        background-color: transparent;
        padding: 7px 20px 15px;
    }

    .noti-icon {
        font-size: 21px;
        vertical-align: middle;
    }

    .noti-icon-badge {
        display: inline-block;
        position: absolute;
        top: 24px;
        right: 16px;
        width: 12px;
        height: 12px;
        background-color: $danger;
        border: 2px solid ;
        border-radius: 50%;
        box-shadow: $box-shadow-lg;
        animation: blinker 3s linear infinite;
        animation-fill-mode: initial;
    }

    .notify-item {
        padding: 12px 20px;

        .notify-icon {
            float: left;
            height: 36px;
            width: 36px;
            font-size: 16px;
            line-height: 36px;
            text-align: center;
            margin-right: 10px;
            border-radius: 50%;
            color: $white;
        }

        .notify-details {
            margin-bottom: 5px;
            overflow: hidden;
            margin-left: 45px;
            text-overflow: ellipsis;
            white-space: nowrap;
            color: $gray-800;
            line-height: 1.5;

            b {
                font-weight: 500;
            }
            small {
                display: block;
            }
            span {
                display: block;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                font-size: 13px;
            }
        }

        .user-msg {
            margin-left: 45px;
            white-space: normal;
            line-height: 16px;
        }
    }
    .profile-dropdown-items {
        .notify-item {
            padding: $dropdown-item-padding-y $dropdown-item-padding-x;
        }
    }
}

.FAQ {
    .a {
        background-color: transparent;
        padding: 7px 20px 15px;
    }

    .FAQ-icon {
        font-size: 21px;
        vertical-align: middle;
    }

    .noti-icon-badge {
        display: inline-block;
        position: absolute;
        top: 24px;
        right: 16px;
        width: 12px;
        height: 12px;
        background-color: $danger;
        border: 2px solid $bg-topbar-light;
        border-radius: 50%;
        box-shadow: $box-shadow-lg;
        animation: blinker 3s linear infinite;
        animation-fill-mode: initial;
    }

    .notify-item {
        padding: 12px 20px;

        .notify-icon {
            float: left;
            height: 36px;
            width: 36px;
            font-size: 16px;
            line-height: 36px;
            text-align: center;
            margin-right: 10px;
            border-radius: 50%;
            color: $white;
        }

        .notify-details {
            margin-bottom: 5px;
            overflow: hidden;
            margin-left: 45px;
            text-overflow: ellipsis;
            white-space: nowrap;
            color: $gray-800;
            line-height: 1.5;

            b {
                font-weight: 500;
            }
            small {
                display: block;
            }
            span {
                display: block;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                font-size: 13px;
            }
        }

        .user-msg {
            margin-left: 45px;
            white-space: normal;
            line-height: 16px;
        }
    }
    .profile-dropdown-items {
        .notify-item {
            padding: $dropdown-item-padding-y $dropdown-item-padding-x;
        }
    }
}

.profile-dropdown {
    display: block;
}

.profile-dropdown-items {
    width: 170px;
    i {
        vertical-align: middle;
        margin-right: 5px;
    }
}

.nav-user {
    padding: 0 12px !important;
    img {
        height: 32px;
        width: 32px;
    }
}

