.employmentManage{
    .body {
        .row {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            gap: 30px;
            padding: 10px;

            &.g-22{
                grid-template-columns: 1fr 1fr !important;
            }

            .addWordker {
                display: flex;
                justify-content: flex-end;
                align-items: end;
            }
        }
    }
}