.contractDetails{
    .body {
        .row {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            gap: 30px;
            padding: 10px;

            &.g-112{
                grid-template-columns: 1fr 1fr 2fr !important;
            }
        }
    }
}