@import  "../../../shared//styles/colors";

.clearanceManage {

  .contractPanel {
    .contractManage {
    margin: 0px;
    }
  }

  .requestTitle {
    padding-top: 20px;
    padding-bottom: 10px;
    h1, i {
      font-size: 20px;
      color: $mol_menu_background;
    }
    h1 {
      font-weight: 700;
    }
  }

  .request {
    padding-top: 20px;
    .ms-ChoiceFieldGroup-flexContainer {
      display: flex;
      gap: 15px;
    }
  }
  .footer {
    .navigation {
      padding-top: 10px;
      display: flex;
      justify-content: space-between;
      .ms-Icon {
        transform: rotate(180deg);
      }
      .norotate {
        .ms-Icon {
          transform: rotate(180deg) !important;
        }
      }
    }
  }
}
