.clearanceManage {

  .contractPanel {
    .contractManage {
    margin: 0px;
    }
  }

  .panel {
    padding: 20px;
  }
  .request {
    padding-top: 20px;
    .ms-ChoiceFieldGroup-flexContainer {
      display: flex;
      gap: 15px;
    }
  }
  .footer {
    .navigation {
      padding-top: 10px;
      display: flex;
      justify-content: space-between;
      .ms-Icon {
        transform: rotate(180deg);
      }
      .norotate {
        .ms-Icon {
          transform: rotate(180deg) !important;
        }
      }
    }
  }
}
